html, body {
    background-color: var(--background-primary);
    font-family: var(--font-primary);
    color: var(--text-color);
}

.navbar {
    border-bottom: 1px solid var(--accent-color);
}

.nav-link {
    position: relative;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.mynavbar-color{
    color: var(--text-color);
    background-color: var(--primary-color);
}

.mynavbar-color .navbar-brand {
    color: var(--text-color);
}

.mynavbar-color .nav-link {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.mynavbar-color .nav-link:hover {
    color: var(--accent-color);
}

.mynavbar-color .nav-link.active {
    color: var(--accent-color);
}

.btn-custom {
    --bs-btn-bg: var(--accent-color) !important; 
    --bs-btn-border-color: var(--accent-color) !important;
    --bs-btn-hover-bg: var(--accent-color) !important;
    --bs-btn-hover-border-color: var(--accent-color) !important;

    color: var(--text-color) !important;
}

.hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.hero-content{
    max-width: 800px;
}

.hero h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--text-color);
}

.hero h1 span{
    color: var(--accent-color);
}

.hero p{
    margin-top: 25px;
    font-size: 1.2rem;
    color: var(--text-color);
    max-width: 600px;
}

.hero .btn-custom{
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
}